<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>TOMORROW Quản lý xe khách</title>

    <!-- Bootstrap Core CSS -->
    <link href="/assets/css/bootstrap.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/assets/css/main.css">
    <link href="/assets/css/custom.css" rel="stylesheet">

    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.min.js"></script>

    <script src="//use.edgefonts.net/bebas-neue.js"></script>

    <!-- Custom Fonts & Icons -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,600,800' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/assets/css/icomoon-social.css">
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css">

    <script src="/assets/js/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    @* @Styles.Render("~/Content/css")*@
    <!-- Bootstrap Core CSS -->
    <link href="/assets/AssetsDatve/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="/assets/AssetsDatve/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/assets/AssetsDatve/dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="/assets/AssetsDatve/vendor/morrisjs/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/assets/AssetsDatve/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- DataTables CSS -->
    <link href="/assets/AssetsDatve/vendor/datatables-plugins/dataTables.bootstrap.css" rel="stylesheet">

    <!-- DataTables Responsive CSS -->
    <link href="/assets/AssetsDatve/vendor/datatables-responsive/dataTables.responsive.css" rel="stylesheet">

    <link rel="stylesheet" href="/assets/AssetsLogin/css/style.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

  


</head>
<body>
    <header class="navbar navbar-inverse navbar-fixed-top" role="banner">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><img src="/assets/images/logos/logo.png" width="190" alt="Basica"></a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    @{
                        var session = (QuanLyXeKhach.Common.UserLogin)Session[QuanLyXeKhach.Common.CommonConstants.userName];
                        var sessionVT = (QuanLyXeKhach.Common.VaiTroID)Session[QuanLyXeKhach.Common.CommonVaiTro.vaiTro];
                    }
                    @if (session != null)
                    {
                        if (sessionVT.vaiTroID == 1)
                        {
                            <li class="active">@Html.ActionLink("Trang Chủ", "Home", "PhongBan")</li>
                            <li>@Html.ActionLink("Nhân Sự", "ChucNang", "NhanSu")</li>
                            <li>@Html.ActionLink("Phòng Ban", "Menu", "PhongBan")</li>
                            <li><a>Online:@session.UserID</a></li>
                            <li>@Html.ActionLink("Đăng Xuất", "Logout", "TaiKhoanNV")</li>
                        }
                        else if (sessionVT.vaiTroID == 2)
                        {
                            <li class="active">@Html.ActionLink("Trang Chủ", "Home", "PhongBan")</li>
                            <li>@Html.ActionLink("Tuyến xe", "Index", "TuyenXe")</li>
                            <li>@Html.ActionLink("Chuyến xe", "index", "ChuyenXes")</li>
                            <li>@Html.ActionLink("Thống kê", "Menu", "ThongKe")</li>
                            <li><a>Online:@session.UserID</a></li>
                            <li>@Html.ActionLink("Đăng Xuất", "Logout", "TaiKhoanNV")</li>
                        }
                        else
                        {
                            <li class="active">@Html.ActionLink("Trang Chủ", "Home", "PhongBan")</li>
                            <li>@Html.ActionLink("Đặt vé", "Index", "KhachHang")</li>
                            <li><a>Online:@session.UserID</a></li>
                            <li>@Html.ActionLink("Đăng Xuất", "Logout", "TaiKhoanNV")</li>
                        }
                    }
                    else
                    {
                       
                    }
                </ul>
            </div>
        </div>
    </header><!--/header-->
    <div id="wrapper">
        @RenderBody()
    </div>
    <!-- Footer -->
    <footer>
        <div class="footer">
            <div class="container">

                <div class="row">

                    <div class="col-footer col-md-4 col-xs-6">
                        <h3>Contact Us</h3>
                        <p class="contact-us-details">
                            <b>Address:</b> 123 Downtown Avenue, Manhattan, New York, United States of America<br />
                            <b>Phone:</b> +1 123 45678910<br />
                            <b>Fax:</b> +1 123 45678910<br />
                            <b>Email:</b> <a href="mailto:info@yourcompanydomain.com">info@yourcompanydomain.com</a>
                        </p>
                    </div>
                    <div class="col-footer col-md-4 col-xs-6">
                        <h3>Our Social Networks</h3>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam.</p>
                        <div>
                            <img src="/assets/images/icons/facebook.png" width="32" alt="Facebook">
                            <img src="/assets/images/icons/twitter.png" width="32" alt="Twitter">
                            <img src="/assets/images/icons/linkedin.png" width="32" alt="LinkedIn">
                            <img src="/assets/images/icons/rss.png" width="32" alt="RSS Feed">
                        </div>
                    </div>
                    <div class="col-footer col-md-4 col-xs-6">
                        <h3>About Our Company</h3>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat</p>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="footer-copyright">&copy; 2017 <a>Tomorrow</a> Quản lý xe khách</div>
                    </div>
                </div>
            </div>
        </div>

    </footer>

    <!-- Javascripts -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/assets/js/jquery-1.9.1.min.js"><\/script>')</script>
    <script src="/assets/js/bootstrap.min.js"></script>

    <!-- Scrolling Nav JavaScript -->
    <script src="/assets/js/jquery.easing.min.js"></script>
    <script src="/assets/js/scrolling-nav.js"></script>
    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)*@

    <!-- Bootstrap Core JavaScript -->
    <script src="/assets/AssetsDatve/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="/assets/AssetsDatve/vendor/metisMenu/metisMenu.min.js"></script>

    <!-- Flot Charts JavaScript -->
    <script src="/assets/AssetsDatve/vendor/flot/excanvas.min.js"></script>
    <script src="/assets/AssetsDatve/vendor/flot/jquery.flot.js"></script>
    <script src="/assets/AssetsDatve/vendor/flot/jquery.flot.pie.js"></script>
    <script src="/assets/AssetsDatve/vendor/flot/jquery.flot.resize.js"></script>
    <script src="/assets/AssetsDatve/vendor/flot/jquery.flot.time.js"></script>
    <script src="/assets/AssetsDatve/vendor/flot-tooltip/jquery.flot.tooltip.min.js"></script>
    <script src="/assets/AssetsDatve/data/flot-data.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/assets/AssetsDatve/dist/js/sb-admin-2.js"></script>
    <!-- DataTables JavaScript -->
    <script src="/assets/AssetsDatve/vendor/datatables/js/jquery.dataTables.min.js"></script>
    <script src="/assets/AssetsDatve/vendor/datatables-plugins/dataTables.bootstrap.min.js"></script>
    <script src="/assets/AssetsDatve/vendor/datatables-responsive/dataTables.responsive.js"></script>
    <!-- Page-Level Demo Scripts - Tables - Use for reference -->
    <script>
       
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>