@model DataModel.TuyenXe

<div>
    <h4>Chi tiết tuyến xe</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenTuyenXe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenTuyenXe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GiaVe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GiaVe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LoaiXe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoaiXe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThoiGian)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThoiGian)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QuangDuong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuangDuong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoChuyen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoChuyen)
        </dd>

        <dt>
            Hành trình
        </dt>

        <dd>
            @foreach (var item in ViewBag.HanhTrinh)
            {
                @item.TenTramXe
                @: -
            }
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Chỉnh sửa", "Edit", new { id = Model.MaTuyenXe }) |
    @Html.ActionLink("Trở lại danh sách", "Index")
</p>
