@model IEnumerable<DataModel.PhanCong>
@*@model DataModel.PagedList<DataModel.UngVien>*@

@{
	ViewBag.Title = "Quản Lý Ứng Viên";
	Layout = "~/Views/NhanSu/Shared/_Layout.cshtml";
}


@Styles.Render("~/Content/NhanSu/css/side-bar")
@Styles.Render("~/Content/NhanSu/css/tab-content")



<!-------------------------------------------------------------------->
<div id="QLNV" class="tabcontent">
	@*<h3>Đang xử lý</h3>
		<p>Chúng tôi đang xử lý yêu cầu. Vui lòng đợi...</p>*@
</div>

<div id="QLCV" class="tabcontent">

</div>

<div id="QLPC" class="tabcontent">
	<div class="inbox-head">
		<h3 class="col-md-4">Quản lý phân công</h3>
		<div class="pull-right">
			<div class="input-append">
				<input id="search_string" type="text" class="sr-input" placeholder="Tìm kiếm" value="@ViewBag.filter">
				<button class="btn sr-btn sharp" onclick="Search()"><i class="fa fa-search"></i></button>
			</div>
		</div>
	</div>

	<div>
		@Html.Partial("_Notifications")
	</div>

	<div class="">
		<aside class="lg-side">

			<div class="" style="margin-top:20px;">
				@*<div id="alert" class="alert alert-danger">
				<a id="closeAlert" href="#" class="close" data-dismiss="alert">&times;</a>
				<strong id="alertTitle">@ViewData["msgTitle"]</strong><span id="alertMsg">@ViewData["msg"]</span>


			</div>*@
				<div class="pull-right">
					<button class="btn btn-default pull-right sharp" data-toggle="modal" onclick="Create()"><i class="glyphicon glyphicon-plus"></i> Thêm phân công</button>
				</div>
			</div>

			<div class="inbox-body">
				<div class="mail-option">
					<table class="table table-header table-striped table-bordered table-hover" id="dataTables-example">
						<thead style="background-color: #f0f0f0;">
							<tr class="unread">
								<td class="col-sm-1 align-top">STT</td>
								<td class="col-sm-2 align-top">@Html.DisplayNameFor(model => model.NhanVien)</td>
								<td class="col-sm-2">@Html.DisplayNameFor(model => model.CongViec)</td>
								<td class="col-sm-2">
									<div @*class="text-center"*@>@Html.DisplayNameFor(model => model.ngayPC)</div>
									@*<div class="text-center">
									<div id="checkbutton" class="btn-group" data-toggle="buttons">
										<label class="checkbutton btn btn-xs green active filter show sharp" data-target="3" onclick="filter(this)"><i class="glyphicon glyphicon-stop"></i></label>
										<label class="checkbutton btn btn-xs blue active filter show sharp" data-target="2" onclick="filter(this)"><i class="glyphicon glyphicon-stop"></i></label>
										<label class="checkbutton btn btn-xs orange active filter show sharp" data-target="1" onclick="filter(this)"><i class="glyphicon glyphicon-stop"></i></label>
										<label class="checkbutton btn btn-xs red active filter show sharp" data-target="4" onclick="filter(this)"><i class="glyphicon glyphicon-stop"></i></label>
									</div>
								</div>*@
								</td>
								<td class="text-left col-sm-2">@Html.DisplayNameFor(model => model.nhiemVu)</td>

								<td class="text-left col-sm-2">@Html.DisplayNameFor(model => model.danhGia)</td>
								<td class="col-sm-1">Thao tác</td>
							</tr>
							</thead>
					</table>
					<table class="table table-inbox table-hover table-inside" style="border: 1px solid #d3d3d3;">

						<tbody>
							@if (Model != null)
					{
						int i = 1;
						foreach (var item in Model)
						{
							<tr @*data-status="@item.trangThai"*@>
								<td class="col-sm-1">
									<h5>@i</h5>
								</td>
								@{i++; }
								<td data-toggle="modal" class="col-sm-2" onclick="Details(@item.maPC)">
									<h5>
										@Html.DisplayFor(modelItem => item.NhanVien.ShortString)
									</h5>
								</td>
								<td data-toggle="modal" class="col-sm-2" onclick="Details(@item.maPC)">
									<h5>
										@Html.DisplayFor(modelItem => item.CongViec.ShortString)
									</h5>
								</td>
								<td data-toggle="modal" class="col-sm-2" onclick="Details(@item.maPC)">
									<h5>
										@Html.DisplayFor(modelItem => item.ngayPC)
									</h5>
								</td>
								<td data-toggle="modal" class="col-sm-2 view-message  text-left" onclick="Details(@item.maPC)">
									<h5>
										@Html.DisplayFor(modelItem => item.nhiemVu)
									</h5>
								</td>
								<td data-toggle="modal" class="col-sm-2 view-message  text-left" onclick="Details(@item.maPC)">
									<h5>
										@Html.DisplayFor(modelItem => item.danhGia)
									</h5>
								</td>
								<td class="col-sm-1 no-pointer">
									<span class="btn-group pull-right" style="margin-top: 5px">
										<button class="btn btn-warning btn-xs sharp" data-toggle="modal" title="Cập nhật phân công" onclick="Edit(@item.maPC)"><i class="glyphicon glyphicon-edit"></i></button>
										<button class="btn btn-danger btn-xs sharp" data-toggle="modal" title="Xóa phân công" onclick="ConfirmDelete(@item.maPC)"><i class="glyphicon glyphicon-remove"></i></button>
									</span>
								</td>
							</tr>
				}
			}
						</tbody>
					</table>
				</div>
			</div>
			<div>
				@if (((string)ViewBag.filter).IsEmpty())
		{
			if (Model.Count() == 0)
			{
				<div>
					Hiện tại chưa có phân công nào cả.
				</div>
	}
	else
	{
		<div>
			Có @Model.Count() phân công.
		</div>
}
}
else
{
if (Model.Count() == 0)
{
		<div>
			Không tìm thấy phân công với từ khóa @ViewBag.filter.
		</div>
}
else
{
		<div>
			Tìm thấy @Model.Count() phân công với từ khóa @ViewBag.filter.
		</div>
}
}



			</div>
		</aside>
	</div>

	<div class="modal fade" id="item_edit">
		<div class="modal-content">
			<div class="modal-header">
				<a href="#" data-dismiss="modal" class="class pull-right"><span class="glyphicon glyphicon-remove"></span></a>
				<h2 class="modal-title">Cập nhật thông tin phân công </h2>
			</div>
			<div id="PVEdit">
				@*PVEdit Partial View*@
			</div>
		</div>
	</div>

	<div class="modal fade " id="item_create">
		<div class="modal-content">
			<div class="modal-header">
				<a class="class pull-right" href="#" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span></a>
				<h2 class="modal-title">Thêm phân công </h2>
			</div>
			<div id="PVCreate">
				@* PVCreate Partial View*@
			</div>
		</div>
	</div>

	<div class="modal fade item_view" id="item_view">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<a href="#" data-dismiss="modal" class="class pull-right"><span class="glyphicon glyphicon-remove"></span></a>
					<h2 class="modal-title">Thông tin chi tiết phân công </h2>
				</div>
				<div id="PVDetails">
					@* PVDetails Partial View*@
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade item_remove" id="item_remove">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<a href="#" data-dismiss="modal" class="class pull-right"><span class="glyphicon glyphicon-remove"></span></a>
					<h3 class="modal-title">Xác nhận</h3>
				</div>
				<div id="PVConfirmDelete">
					@*PVConfirmDelete Partial View*@
				</div>

			</div>
		</div>
	</div>
</div>

<div id="CC" class="tabcontent">

</div>

<div id="QLUV" class="tabcontent ">

</div>


<div id="LPV" class="tabcontent">

</div>
@Scripts.Render("~/bundles/NhanSu/Scripts/tab-content")

<script>
	openPage("QLPC", document.getElementById("lQLPC"));

	function ConfirmDelete(currentId) {
		$.ajax({
			type: "Get",
			url: '@Url.Action("PVConfirmDelete", "PhanCong")',
			data: { id: currentId },
			success: function (data) {
				$('#PVConfirmDelete').html(data);
				$('#item_remove').modal('show');
			}
		})
	}

	function Edit(currentId) {
		$.ajax({
			type: "Get",
			url: '@Url.Action("PVEdit", "PhanCong")',
			data: { id: currentId },
			success: function (data) {
				$('#PVEdit').html(data);
				$('#item_edit').modal('show');
			}
		})
	}

	function Details(currentId) {
		$.ajax({
			type: "Get",
			url: '@Url.Action("PVDetails", "PhanCong")',
			data: { id: currentId },
			success: function (data) {
				$('#PVDetails').html(data);
				$('#item_view').modal('show');
			}
		})
	}

	function Create() {
		$.ajax({
			type: "Get",
			url: '@Url.Action("PVCreate", "PhanCong")',
			success: function (data) {
				$('#PVCreate').html(data);
				$('#item_create').modal('show');
			}
		})
	}

	function Search() {
		var filter = $('#search_string').val();
		if (filter == "") {
			var url = '@Url.Action("QuanLyPhanCong", "PhanCong")';
			window.location.href = url;
		}
		else {
			var url = '@Url.Action("QuanLyPhanCong", "PhanCong", new { filter = "__filter__" })';
			window.location.href = url.replace('__filter__', $('#search_string').val());
		}
	}

	//$(document).ready(function () {
	//	$('#alert').show('fade');
	//	$('#closeAlert').click(function () {
	//		$('#alert').hide('fade');

	//	});

	//});


</script>
























