@model IEnumerable<DataModel.TrangThaiUV>
@*@model DataModel.PagedList<DataModel.UngVien>*@

@{
	ViewBag.Title = "Quản Lý Lịch Phỏng Vấn";
	Layout = "~/Views/NhanSu/Shared/_Layout.cshtml";
}


@Styles.Render("~/Content/NhanSu/css/side-bar")
@Styles.Render("~/Content/NhanSu/css/tab-content")



<!-------------------------------------------------------------------->
<div id="QLNV" class="tabcontent">

</div>

<div id="QLCV" class="tabcontent">

</div>

<div id="QLPC" class="tabcontent">

</div>

<div id="CC" class="tabcontent">

</div>

<div id="QLUV" class="tabcontent ">

</div>


<div id="QLTTUV" class="tabcontent">
	<div class="inbox-head">
		<h3 class="col-md-4">Quản lý trạng thái ứng viên</h3>
		<div class="pull-right">
			<div class="input-append">
				<input id="search_string" type="text" class="sr-input" placeholder="Tìm kiếm" value="@ViewBag.filter">
				<button class="btn sr-btn sharp" onclick="Search()"><i class="fa fa-search"></i></button>
			</div>
		</div>
	</div>

	<div>
		@Html.Partial("_Notifications")
	</div>

	<div class="">
		<aside class="lg-side">

			<div class="" style="margin-top:20px;">
				@*<div id="alert" class="alert alert-danger">
						<a id="closeAlert" href="#" class="close" data-dismiss="alert">&times;</a>
						<strong id="alertTitle">@ViewData["msgTitle"]</strong><span id="alertMsg">@ViewData["msg"]</span>


					</div>*@
				<div class="pull-right">
					<button class="btn btn-default pull-right sharp" data-toggle="modal" onclick="Create()"><i class="glyphicon glyphicon-plus"></i> Thêm trạng thái ứng viên</button>
				</div>
			</div>

			<div class="inbox-body">
				<div class="mail-option">
					<table class="table table-header table-striped table-bordered table-hover" id="dataTables-example">
						<thead style="background-color: #f0f0f0;">
							<tr class="unread">
								<td class="col-sm-1 align-top">STT</td>
								<td class="col-sm-2 align-top">@Html.DisplayNameFor(model => model.maTT)</td>
								<td class="col-sm-3">@Html.DisplayNameFor(model => model.tenTT)</td>
								<td class="col-sm-5">@Html.DisplayNameFor(model => model.moTaTT)</td>
								<td class="col-sm-1">Thao tác</td>
							</tr>
						</thead>
					</table>
					<table class="table table-inbox table-hover table-inside" style="border: 1px solid #d3d3d3;">


						<tbody>
							@if (Model != null)
							{
								int i = 1;
								foreach (var item in Model)
								{
									<tr @*data-status="@item.trangThai"*@>
										<td class="col-sm-1">
											<h5>@i</h5>
										</td>
										@{i++; }
										<td data-toggle="modal" class="col-sm-2" onclick="Details(@item.maTT)">
											<h5>
												@Html.DisplayFor(modelItem => item.maTT)
											</h5>
										</td>
										<td data-toggle="modal" class="col-sm-3" onclick="Details(@item.maTT)">
											<h5>
												@Html.DisplayFor(modelItem => item.tenTT)
											</h5>
										</td>
										<td data-toggle="modal" class="col-sm-5" onclick="Details(@item.maTT)">
											<h5>
												@Html.DisplayFor(modelItem => item.moTaTT)
											</h5>
										</td>
										<td class="col-sm-1 no-pointer">
											<span class="btn-group pull-right" style="margin-top: 5px">
												<button class="btn btn-warning btn-xs sharp" data-toggle="modal" title="Cập nhật trạng thái ứng viên" onclick="Edit(@item.maTT)"><i class="glyphicon glyphicon-edit"></i></button>
												<button class="btn btn-danger btn-xs sharp" data-toggle="modal" title="Xóa trạng thái ứng viên" onclick="ConfirmDelete(@item.maTT)"><i class="glyphicon glyphicon-remove"></i></button>
											</span>
										</td>
									</tr>
								}
							}
						</tbody>
					</table>
				</div>
			</div>
			<div>
				@if (((string)ViewBag.filter).IsEmpty())
				{
					if (Model.Count() == 0)
					{
						<div>
							Hiện tại chưa có trạng thái ứng viên nào cả.
						</div>
					}
					else
					{
						<div>
							Có @Model.Count() trạng thái ứng viên.
						</div>
					}
				}
				else
				{
					if (Model.Count() == 0)
					{
						<div>
							Không tìm thấy trạng thái ứng viên với từ khóa @ViewBag.filter.
						</div>
					}
					else
					{
						<div>
							Tìm thấy @Model.Count() trạng thái ứng viên với từ khóa @ViewBag.filter.
						</div>
					}
				}



			</div>
		</aside>
	</div>

	<div class="modal fade item_edit" id="item_edit">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<a href="#" data-dismiss="modal" class="class pull-right"><span class="glyphicon glyphicon-remove"></span></a>
					<h2 class="modal-title">Cập nhật thông tin trạng thái ứng viên </h2>
				</div>
				<div id="PVEdit">
					@*PVEdit Partial View*@
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade item_create" id="item_create">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<a class="class pull-right" href="#" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span></a>
					<h2 class="modal-title">Thêm trạng thái ứng viên </h2>
				</div>
				<div id="PVCreate">
					@* PVCreate Partial View*@
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade item_view" id="item_view">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<a href="#" data-dismiss="modal" class="class pull-right"><span class="glyphicon glyphicon-remove"></span></a>
					<h2 class="modal-title">Thông tin chi tiết trạng thái ứng viên </h2>
				</div>
				<div id="PVDetails">
					@* PVDetails Partial View*@
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade item_remove" id="item_remove">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<a href="#" data-dismiss="modal" class="class pull-right"><span class="glyphicon glyphicon-remove"></span></a>
					<h3 class="modal-title">Xác nhận</h3>
				</div>
				<div id="PVConfirmDelete">
					@*PVConfirmDelete Partial View*@
				</div>

			</div>
		</div>
	</div>
</div>
<div id="QLLPV" class="tabcontent">
</div>
@Scripts.Render("~/bundles/NhanSu/Scripts/tab-content")

<script>
	openPage("QLTTUV", document.getElementById("lQLTTUV"));
	function ConfirmDelete(currentId) {
		$.ajax({
			type: "Get",
			url: '@Url.Action("PVConfirmDelete", "TrangThaiUV")',
			data: { id: currentId },
			success: function (data) {
				$('#PVConfirmDelete').html(data);
				$('#item_remove').modal('show');
			}
		})
	}

	function Edit(currentId) {
		$.ajax({
			type: "Get",
			url: '@Url.Action("PVEdit", "TrangThaiUV")',
			data: { id: currentId },
			success: function (data) {
				$('#PVEdit').html(data);
				$('#item_edit').modal('show');
			}
		})
	}

	function Details(currentId) {
		$.ajax({
			type: "Get",
			url: '@Url.Action("PVDetails", "TrangThaiUV")',
			data: { id: currentId },
			success: function (data) {
				$('#PVDetails').html(data);
				$('#item_view').modal('show');
			}
		})
	}

	function Create() {
		$.ajax({
			type: "Get",
			url: '@Url.Action("PVCreate", "TrangThaiUV")',
			success: function (data) {
				$('#PVCreate').html(data);
				$('#item_create').modal('show');
			}
		})
	}


	function Search() {
		var filter = $('#search_string').val();
		if (filter == "") {
			var url = '@Url.Action("QuanLyTrangThaiUV", "TrangThaiUV")';
			window.location.href = url;
		}
		else {
			var url = '@Url.Action("QuanLyTrangThaiUV", "TrangThaiUV", new { filter = "__filter__" })';
			window.location.href = url.replace('__filter__', $('#search_string').val());
		}
	}


	//$(document).ready(function () {
	//	$('#alert').show('fade');
	//	$('#closeAlert').click(function () {
	//		$('#alert').hide('fade');

	//	});

	//});


</script>
























