@model DataModel.UngVien
<div class="modal-body">

	<div class="form-horizontal">

		<div class="row">
			<div class="col-md-12 item_content">
				<div class="col-md-9">
					<h3>
						<span>Mã ứng viên @Model.maUV</span>
					</h3>
				</div>
				<div class="col-md-3" style="margin-top:24px;">
					<div class="input-group-btn">
						<button class="btn btn-danger btn-xs pull-right sharp" ; data-dismiss="modal" data-toggle="modal" onclick="ConfirmDelete(@Model.maUV)"><i class="glyphicon glyphicon-remove"></i></button>
						<button class="btn btn-warning btn-xs pull-right sharp" ; data-dismiss="modal" data-toggle="modal" onclick="Edit(@Model.maUV)"><i class="glyphicon glyphicon-edit"></i></button>
					</div>
				</div>
			</div>
			<div class="dl-horizontal">
				<div class="">
					<div class="row">
						<div class="col-md-12">
							<div class="">
								<dt>
									@Html.DisplayNameFor(model => model.hoTen)
								</dt>
								<dd>
									@Html.DisplayFor(model => model.hoTen)
								</dd>

								<dt>
									@Html.DisplayNameFor(model => model.sDT)
								</dt>
								<dd>
									@Html.DisplayFor(model => model.sDT)
								</dd>

								<dt>
									@Html.DisplayNameFor(model => model.email)
								</dt>

								<dd>
									@Html.DisplayFor(model => model.email)
								</dd>

								<dt>
									@Html.DisplayNameFor(model => model.trangThai)
								</dt>
								<dd>
									@Html.DisplayFor(model => model.TrangThaiUV.maTT)
									<span> - </span>
									@Html.DisplayFor(model => model.TrangThaiUV.tenTT)
								</dd>

								<dt>
									@Html.DisplayNameFor(model => model.maLPV)
								</dt>
								<dd>
									@Html.DisplayFor(model => model.LichPhongVan.shortString)
								</dd>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal-footer">
	<button data-dismiss="modal" class="btn btn-default btn-sx sharp">@*<i class="glyphicon glyphicon-plus"></i>*@ Đóng</button>
</div>
